<!doctype html>
<html>
<head>
	<!-- <title>Demo Page</title> -->
</head>
<body>
	List:
	<a href="/listBooks">Books</a>
	<a href="/listAuthors">Authors</a>
	<a href="/listUsers">Users</a>
	<br>
	Add:
	<a href="/editBook">Add Book</a>
	<a href="/editAuthor">Add Author</a>
	<a href="/editUser">Add User</a>
	<br>
	Manage many:many: 
	<a href="/bookUser">Manage User Books</a>
	<br>
	Manage other entities: 
	<a href="/languages">Languages</a>
	<a href="/countries">Countries</a>
	<a href="/categories">Categories</a>
	<a href="/formats">Formats</a>
	<br>
	Stats:
	<a href="/stats">Stats</a>

	{{{body}}}
</body>
</html>
