<h1>Add Author</h1>
<a href="/listBooks">Books</a>
<a href="/listAuthors">Authors</a>
<a href="/addBook">Add Book</a>
<a href="/addAuthor">Add Author</a>
<form id="author_form" action="/addAuthor" method="post">

	<fieldset id="form_field">

		<legend id="form_legend">Enter a new book</legend>

		First Name:		<input type="text" name="first_name" id="first_name"><br>
		Last Name:		<input type="text" name="last_name" id="last_name"><br>
		Date of Birth:	<input type="date" name="author_dob" id="author_dob"><br>
		Country:      	<select name="author_country" id="author_country"><br>
							{{#each countries}}
							<option value="{{this.country}}">{{this.country}}</option>
							{{/each}}
						</select>
		Gender:			<select name="gender" id="gender">
							<option value="m">male</option>
							<option value="f">female</option>
							<option value="o">other</option>
						</select>

		<input type="submit" id="new_author" value="Submit">

	</fieldset>

</form>
