<h1>Form</h1>
<form id="book_form" action="/addBook" method="post">

	<fieldset id="form_field">

		<legend id="form_legend">Enter a new book</legend>

		Title:    <input type="text" name="book_title" id="book_title"><br>
		First Name:   <input type="text" name="author_first_name" id="author_first_name"><br>
		Last Name: <input type="text" name="author_last_name" id="author_last_name"><br>
		Language: <input type="text" name="book_language" id="book_language"><br>
		Year:     <input type="text" name="book_year" id="book_year"><br>

		<input type="submit" id="new_book" value="Submit">

	</fieldset>

</form>
