<h1>Countries</h1>

<form id="country_form" action="/addCountry" method="post">
	<fieldset>
		<legend>Enter a country</legend>
		Country: <input type="text" name="country_name"><br>
		Region: <input type="text" name="region_name"><br>
		<input type="submit" value="Submit">
	</fieldset>
</form>

<table>
	<tr>
		<th>Country</th>
		<th>Region</th>
	</tr>

	{{#each countries}}
	<tr>
		<td>{{this.country}}</td>
		<td>{{this.region}}</td>
		<td><a href="/deleteCountry?country_id={{this.id}}">Delete</a></td>
	<tr>
	{{/each}}
</table>