<h1>Formats</h1>

<form id="format_form" action="/addFormat" method="post">
	<fieldset>
		<legend>Enter a format</legend>
		Format: <input type="text" name="format_name" value="{{format_info.format}}"><br>
		<input type="submit" value="Submit">
	</fieldset>
</form>

<table>
	<tr>
		<th>Format</th>
	</tr>

	{{#each formats}}
	<tr>
		<td>{{this.format}}</td>
		<td><a href="/deleteFormat?format_id={{this.id}}">Delete</a></td>
	<tr>
	{{/each}}
</table>