<h1>Search</h1>
<a href="/listBooks">Search by author, title, or subject on the list page</a><br>

<h1>Insert Pages</h1>

<a href="/editBook">Add New Book</a> (including the Author:Book many:many relationshp - any secondary authors selected will create a many:many Book:Author record)<br>
<a href="/editAuthor">Add New Author</a><br>
<a href="/editUser">Add New User</a><br>
<a href="/bookUser">Add a Book:User records (many:many)</a><br>
<a href="/languages">Add a new Language</a><br>
<a href="/countries">Add a new Country</a><br>
<a href="/categories">Add a new Category or Subcategory</a><br>
<a href="/formats">Add a new Format</a><br>

<h1>Show Pages</h1>

<a href="/listBooks">Show Books</a><br>
<a href="/listAuthors">Show Authors</a><br>
<a href="/listUsers">Show Users</a><br>
<a href="/languages">Show Languages</a><br>
<a href="/countries">Show Countries</a><br>
<a href="/categories">Show Categories</a><br>
<a href="/formats">Show Formats</a><br>
To see a book with secondary authors (many:many), <a href="/listBooks?title=c+programming">search for <i>The C Programming Language</i></a> on the <a href="/listBooks">Book List page</a>, then click on the book's title to view details<br>
To see a user's books (many:many), navigate to the <a href="/listUsers">User List page</a> and click on one of the User's <b>list books</b> links<br>

<h1>Update Pages</h1>

Use the "edit" link for any <a href="/listBooks">listed book</a> (this also includes Author:Book many:many relationships)<br>
Use the "edit" link for any <a href="/listAuthors">listed author</a><br>
Use the "edit" link for any <a href="/listUsers">listed user</a><br>
Use the "edit" link for any <a href="/languages">listed language</a><br>
Use the "edit" link for any <a href="/countries">listed country</a><br>
Use the "edit" link for any <a href="/categories">listed subcategory</a><br>
Use the "edit" link for any <a href="/categories">listed category</a><br>
Use the "edit" link for any <a href="/formats">listed format</a><br>
From <a href="/listUsers">the user list page</a>, click on "list books" to access the book list for a given user, then click "Edit Shelf Info" to edit the book instance<br>

<h1>Delete Pages</h1>
<a href="/listBooks">Delete Books</a> ("delete" link)<br>
<a href="/listAuthors">Delete Authors</a> ("delete" link)<br>
<a href="/listUsers">Delete Users</a> ("delete" link)<br>
<a href="/languages">Delete Languages</a> ("delete" link)<br>
<a href="/countries">Delete Countries</a> ("delete" link)<br>
<a href="/categories">Delete Categories or Subcategories</a> ("delete" link)<br>
<a href="/formats">Delete Formats</a> ("delete" link)<br>
<br>
To de-associate a secondary Author from a Book, search for <i>The C Programming Language</i> on the <a href="/listBooks">Book List page</a>, click on the <i>edit</i> link, and select the blank author from the <i>secondary authors</i> multi-select - this will clear out all secondary author associations<br>
To de-associate a Book from a User, navigate to the <a href="/listUsers">User List page</a>, click on a user's <i>list books</i> link, and click <i>Remove From Shelf</i> - this will remove the user book association<br>
