<h1>Update Pages</h1>

<a href="/editBook?book_id=1465">Update a book</a> or use the "edit" link for any <a href="/listBooks">listed book</a> (this also includes Author:Book many:many relationships)<br>
<a href="/editAuthor?author_id=761">Update an author</a> or use the "edit" link for any <a href="/listAuthors">listed author</a><br>
<a href="/editUser?user_id=1">Update a user</a> or use the "edit" link for any <a href="/listUsers">listed user</a><br>

<a href="/languages?language_id=78">Update a language</a> or use the "edit" link for any <a href="/languages">listed language</a><br>

<a href="/countries?country_id=1">Update a Country</a> or use the "edit" link for any <a href="/countries">listed country</a><br>

<a href="/categories?subcategory_id=15">Update a subcategory</a> or use the "edit" link for any <a href="/categories">listed subcategory</a><br>

<a href="/categories?category_id=5">Update a category</a> or use the "edit" link for any <a href="/categories">listed category</a><br>

<a href="/formats?format_id=4">Update a format</a> or use the "edit" link for any <a href="/formats">listed format</a><br>

<a href="/editUserBook?user_id=1&book_id=934&format_id=1">Update information about a book on a user's shelf</a> or user the "edit" link for any book on a <a href="/listUserBooks?user_id=1">user's shelf</a><br>