<h1>Users</h1>
<a href="/listBooks">Books</a>
<a href="/listAuthors">Authors</a>
<a href="/listUsers">Users</a>
<a href="/editBook">Add Book</a>
<a href="/editAuthor">Add Author</a>
<a href="/editUser">Add User</a>
<a href="/bookUser">Manage User Books</a>
<table>
	<tr>
		<th>User Name</th>
		<th>User Email</th>
	</tr>

	{{#each users}}
	<tr>
		<td>{{this.user_name}}</td>
		<td>{{this.user_email}}</td>
		<td><a href="/editUser?id={{this.id}}">edit</a></td>
		<td><a href="/listBooks?user={{this.id}}">list books</a></td>
	<tr>
	{{/each}}
</table>